{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
<center>
 <h1>Index</h1>
 <img src="{% static 'images\dijno.png' %}"/>
<h2>{{ curso }}</h2>
<h2>{{ outro }}</h2>
<span> {{ status }}</span>
 <br>
<table>
    <thead>
    <tr>Produto</tr>
    <tr>Preço</tr>
    <tr>Estoque</tr>
    </thead>
    <tbody>
    {% for produto in produtos %}
    <tr><td><a href="{% url 'produto' produto.id %}">{{produto.nome}}</a></td>
        <td>{{produto.preco}}</td>
        <td>{{produto.estoque}}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    <button onclick="teste();">Clique-me</button>
    <script type="text/javascript" src="{% static 'js\script.js' %}"></script>
    </center>
</body>
</html>